{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Listes Des Livres{% endblock %}

{% block main %}

    <a class="btn1" href="{{ path("admin_livre_create") }}">AJOUTER</a>
    <section>
        {% for book in livres %}
            <article>
                <h2><a href="{{ path('admin_livre',{'id' : book.id}) }}">{{ book.title }}</a></h2>
                {% if book.author %}
                    <h3>{{ book.author.firtName  }} {{ book.author.lastName }}</h3>
                {% endif %}
                <h3>Nombre de pages : {{ book.nbPages }}</h3>
                <h3>{{ book.publishedAt|date("m/d/Y") }}</h3>
                <a class="btn2" href="{{ path("admin_livre_delete", {'id' : book.id}) }}">Supprimer</a>
                <a class="btn2" href="{{ path("admin_livre_update", {'id' : book.id}) }}">MODIFIER</a>
            </article>
        {% endfor %}
    </section>

{% endblock %}