{% extends "base.html.twig" %}

{% block title %}{{ parent()}}{{ book.title }}{% endblock %}

{% block main %}
    <section>
            <article>
                <h2>{{ book.title }}</h2>
                {% if book.author %}
                    <h3>{{ book.author.firtName  }}</h3>
                {% endif %}
                <h3>Nombre de pages : {{ book.nbPages }}</h3>
                <h3>{{ book.publishedAt|date("m/d/Y") }}</h3>
                <h3>{{ book.gener.title }}</h3>
                {% for book in book.gener %}
                    <h3>{{ book.title }}</h3>
                {% endfor %}
                <a class="btn2" href="{{ path("admin_livre_delete", {'id' : book.id}) }}">Supprimer</a>
            </article>
    </section>

{% endblock %}