{# je utilise l'héritage de twig pour
restituer le contenu du bloc parent (base.html.twig #}
{% extends "base.html.twig" %}

{# je utilise l'héritage de twig (block) pour
integre le contenu dans mon bloc parent (base.html.twig #}
{% block title %}{{ parent()}}Accueil{% endblock %}

{% block main %}
    <section>
        {# avec la methode path je recupere les variables dens mon tableau apartir de mon homeContraller. #}
            {% for book in books %}
                <article>
                    <h2><a href="{{ path('admin_livre', {'id' : book.id})}}">{{ book.title }}</a></h2>
                    {% if book.author %}
                        <h3>{{ book.author.firtName  }}</h3>
                    {% endif %}
                    <h3>Nombre de pages : {{ book.nbPages }}</h3>
                    <h3>{{ book.publishedAt|date("m/d/Y") }}</h3>
                </article>
            {% endfor %}
    </section>

    <section>
        {# avec la methode path je cree un url article plus l'id de l'article recuperer dans l'url. #}
        <a class="btn1" href="{{ path("admin_livres") }}">VOIR + </a>
        <a class="btn1" href="{{ path("admin_livre_create") }}">AJOUTER</a>
    </section>

    <section>
        {% for author in authors %}
                <article>
                    <h2><a href="{{ path('admin_author', {'id' : author.id})}}">{{ author.firtName }}</a></h2>
                    <h3>{{ author.lastName}}</h3>
                    {% if (author.deathDate is not null) %}
                        <h3>{{ author.deathDate|date("m/d/Y") }}</h3>
                    {% endif %}
                </article>
        {% endfor %}
    </section>

    <section>
        {# avec la methode path je cree un url auteur plus l'id de l'auteur recuperer dans l'url. #}
        <a class="btn1" href="{{ path("admin_authors") }}">VOIR + </a>
        <a class="btn1" href="{{ path("admin_author_create") }}">AJOUTER</a>
    </section>

    <section>
        {% for gener in geners %}
            <a class="btn1" href="{{ path('gener', {'id' : gener.id})}}">{{ gener.title }}</a>
        {% endfor %}
    </section>



{% endblock %}