{# je utilise l'héritage de twig pour
restituer le contenu du bloc parent (base.html.twig #}
{% extends "base.html.twig" %}

{# je utilise l'héritage de twig (block) pour
integre le contenu dans mon bloc parent (base.html.twig #}
{% block title %}{{ parent()}}Accueil{% endblock %}

{% block main %}
    <section>
        {# avec la methode path je recupere les variables dens mon tableau apartir de mon homeContraller. #}
            {% for tab in tabs %}
                <article>
                    <h2><a href="{{ path('livre', {'id' : tab.id})}}">{{ tab.title }}</a></h2>
                    <h3>{{ tab.author }}</h3>
                    <h3>Nombre de pages : {{ tab.nbPages }}</h3>
                    <h3>{{ tab.publishedAt|date("m/d/Y") }}</h3>
                </article>
            {% endfor %}
    </section>
    {# avec la methode path je cree un url article plus l'id de l'article recuperer dans l'url. #}
    <a class="btn" href="{{ path("livres") }}">VOIR + </a>



{% endblock %}