{% extends "base.html.twig" %}

{% block title %}{{ parent()}}{{ book.title }}{% endblock %}

{% block main %}
    <section>
            <article>
                <h2>{{ book.title }}</h2>
                <div class="img">
                    <img src="{{ book.image }}" alt="">
                </div>
                <div class="containt">
                    <h3>{{ book.author }}</h3>
                    <h3>{{ book.publishedAt|date("m/d/Y") }}</h3>
                </div>
            </article>
    </section>

{% endblock %}