{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Listes Des Livres{% endblock %}

{% block main %}
    <section>
        {% for book in livres %}
            <article>
                <h2><a href="{{ path('livre',{'id' : book.id}) }}">{{ book.title }}</a></h2>
                <h3>{{ book.author }}</h3>
                <h3>Nombre de pages : {{ book.nbPages }}</h3>
                <h3>{{ book.publishedAt|date("m/d/Y") }}</h3>
            </article>
        {% endfor %}
    </section>

{% endblock %}