{% extends "base.html.twig" %}

{% block title %}{{ parent()}}{{ book.title }}{% endblock %}

{% block main %}
    <section>
            <article>
                <h2>{{ book.title }}</h2>
                {% if book.author %}
                    <h3>{{ book.author.firtName  }}</h3>
                {% endif %}
                <h3>Nombre de pages : {{ book.nbPages }}</h3>
                <h3>{{ book.publishedAt|date("m/d/Y") }}</h3>
            </article>
    </section>

{% endblock %}